<form class="form-horizontal">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPlatform" class="col-sm-2 control-label">Platform</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPlatform" placeholder="Platform">
    </div>
  </div>
  <div class="form-group">
    <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFormat" class="col-sm-2 control-label">Format</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFormat" placeholder="Format">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Game</button>
    </div>
  </div>
</form>