<table class="table table-hover">
    <thead>
        <tr>
            <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th ng-click="sortType = 'platform'; sortReverse = !sortReverse">
                Platform
                <span ng-show="sortType == 'platform' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'platform' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th ng-click="sortType = 'genre'; sortReverse = !sortReverse">
                Genre
                <span ng-show="sortType == 'genre' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'genre' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th ng-click="sortType = 'format'; sortReverse = !sortReverse">
                Format
                <span ng-show="sortType == 'format' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'format' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in gameList | orderBy:sortType:sortReverse">
            <td>{{game.name}}</td>
            <td>{{game.platform}}</td>
            <td>{{game.genre}}</td>
            <td>{{game.format}}</td>
            <td><a ui-sref="home.detail({id: game._id})">Update</a></td>
            <td ng-click="deleteGame(game._id)">Delete</td>
        </tr>
    </tbody>
</table>

<div ui-view="detail"></div>